[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"html2text" = "*"
"jinja2" = "*"
"mastodon.py" = "*"
"toml" = "*"

[dev-packages]
"versioneer" = "*"

[requires]
python_version = "3.7"
